<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
     <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
   <div id="fb-root"></div>
  <div class="wrapper">
      <header>
        <h1><a href="http://stackoverflow.com/users/119929/stan-r">
<img src="http://stackoverflow.com/users/flair/119929.png" width="208" height="58" alt="profile for Stan R. at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Stan R. at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
</a></h1>
<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
<br><div class="g-plusone" data-size="medium"></div>
      </header>
        {{ content }}
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/js/scale.fix.js"></script>
    <script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
  </body>
</html>