<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
     <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
   <div id="fb-root"></div>
  <div class="wrapper">
      <header>
        <h1><a href="http://stackoverflow.com/users/119929/stan-r">
<img src="http://stackoverflow.com/users/flair/119929.png" width="208" height="58" alt="profile for Stan R. at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Stan R. at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
</a></h1>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50c7ad3e247cacdf"></script>
<!-- AddThis Button END -->
      </header>
        {{ content }}
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/js/scale.fix.js"></script>
  </body>
</html>